[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
torch = "*"
torchvision = "*"
tensorboard = "*"
pytorch-lightning = "==0.9.0rc2"

[requires]
python_version = "3.8"
